:any-link {
  color: inherit;
  display: inline-flex;
}

:focus {
  text-shadow: 0 0 2ex;
  box-shadow: 0 0 1ex 1ex;
  outline: thick groove;
  text-decoration-style: dotted;
}

:hover {
  text-decoration-style: double;
}

* {
  box-sizing: border-box;
}

html {
  font-size: max(3ch, 4vmax + 1vmin);
  line-height: 1.618;
}

body {
  margin: 0;
  overflow-wrap: anywhere;
}

article {
  align-items: center;
  contain: layout;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

footer {
  contain: layout;
  display: flex;
  flex-flow: column;
  font-family: fantasy;
  font-weight: bold;
  margin-block: 1rem;
  min-height: 100vh;
  writing-mode: vertical-lr;
}

p a,
footer a {
  padding: 1ch;
  margin-inline-end: auto;
}

h1 a {
  margin-left: 3pt;
}

h1 {
  padding: .382rem;
  font-family: fantasy;
  font-weight: unset;
  margin: 1em 0 0;
}

p {
  float: right;
  font-family: cursive;
  margin: 0;
}

::first-letter {
  font-family: sans-serif;
  font-weight: bold;
}
